<div class="playlist-song">
	<div class="nav-btn-play btn-playlist" data-btn-play="{{song_id}}" onclick="ui.btn_playlist_play_pause('{{song_id}}')"></div>
	<div class="playlist-song-name" onclick="ui.btn_playlist_play_pause('{{song_id}}')">{{name}}</div>
	{{vocals_link}}
	<div class="playlist-song-time">{{date}}</div>
	<a class="playlist-btn-primary" href="{{song_path}}" download="{{name}}">下载</a>
	<div class="playlist-btn-primary" onclick="player.add_song_to_list('{{song_id}}')">添加到列表</div>
</div>